@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Mono:wght@500&family=Roboto+Slab:wght@700&display=swap");
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#section1 {
  height: 100vh;
}

.upper-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.upper-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  width: 30%;
  position: relative;
  color: black;
  align-self: center;
  background: #40e0d0;
  transform: skewX(-10deg);
}
.upper-container p {
  font-family: "Montserrat", sans-serif;
}

.main-container > h1 {
  margin-top: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}

.lower-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service-card {
  width: 25%;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 1%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.service-card h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  background: #40e0d0;
  transform: skewX(-10deg);
}

.service-card h2 {
  font-family: "Montserrat", sans-serif;
}

.service-card ul li {
  font-family: "Montserrat", sans-serif;
  list-style: circle;
  text-align: justify;
  text-justify: inter-word;
}
.service-card ul {
  padding-left: 20px;
}

/* .service-card img {
  width: 200px;
  object-fit: cover;
} */
